* {
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 18px Arial, Helvetica, sans-serif;
}

h3 {
    display: flex;
    /* align-self: flex-start; */
}

p {
    display: flex; 
    justify-self: flex-start;
    align-content: flex-start;

    white-space: pre;
    
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.top {
    display: flex;
    align-items: flex-start;
    background-color: red;
    color: #fff;
    padding: 20px 20px;

}

.receipt {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;


    padding: 28px;
    margin: 50px 25px;

    border: 5px solid #E5E000;
    border-radius: 30px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 2px 20px;
}
